<p>Create note</p>
<p>
<form role="form" name="newNote" novalidate>
    <div class="form-group">
        <textarea class="form-control" rows="6" id="note.title" ng-model="note.title" type="text" required/>
    </div>
    <a ng-click="createNote()" class="btn btn-small btn-primary" >Save</a>
</form>
</p>