<h3>Notes</h3>
<div class="list-group">
    <div class="list-group-item" ng-repeat="note in notes">
        <h2>{{note.title}}</h2>
        <div>
            <a ui-sref="notes.edit({id: note.id})" class="btn btn-small btn-primary">Edit</a>
            <a ng-click="deleteNote(note)" class="btn btn-small btn-primary">Delete</a>
        </div>
    </div>
</div>