<p>Edit note</p>
<p>
<form role="form" name="noteDetail" novalidate>
    <div class="form-group">
        <textarea class="form-control" rows="6" id="note.title" ng-model="note.title" type="text" required/>
    </div>
    <a ng-click="updateNote()" class="btn btn-small btn-primary">Ulozit</a>
</form>
</p>